<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.qtd.realestate1012">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".HousieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity"/>

        <activity android:name=".activity.AllHouseActivity"/>

        <activity
            android:name=".activity.FilterActivity"/>
        <activity android:name=".activity.CreateBoardActivity"/>

        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".activity.PostActivity"
            android:theme="@style/StylePostActivity"/>

        <activity
            android:name=".activity.HouseDetailActivity"
            android:theme="@style/DetailHouseActivityStyle"/>

        <activity
            android:name=".activity.ProfileActivity"
            android:theme="@style/ProfileActivityStyle"/>

        <activity android:name=".activity.MyPostedHouseActivity"/>

        <activity android:name=".activity.BoardDetailActivity"/>

        <activity android:name=".activity.MapViewActivity"/>

        <activity android:name=".activity.ResultActivity"/>

        <activity android:name=".activity.ImageActivity"/>
        <!--metadata facebook-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <!--metadata facebook-->

        <!--metadata google map-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAXKdlSDdIttYHwoyC2Ss_BqQa1HETpbBs"/>
        <!--metadata google map-->

        <!--metadata glide-->
        <meta-data
            android:name="com.qtd.realestate1012.custom.GlideConfiguration"
            android:value="GlideModule"/>
        <!--metadata glide-->

        <!--firebase messaging service-->
        <service
            android:name=".service.FcmHousieService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.FcmHousieInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!--firebase messaging service-->
    </application>

</manifest>